.Info-contacto {
    background-color: map-get($color, lightgreen);
    flex-grow: 1;
    margin: auto;
    border: 2px;
    justify-content: space-between;
}

.Redes-Sociales {
    background-color: map-get($color, lightgreen);
    padding: map-get($spacing, large);
    border: map-get($spacing, medium);
    margin: map-get($spacing, medium);
    color: map-get($color, darkgreen);

    .grilla {
        display: grid;
        border: map-get($color, darkgreen) map-get($spacing, medium);
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: 4fr;
        justify-items: center;
        align-items: center;
        row-gap: map-get($spacing, small);
        column-gap: map-get($spacing, small);

        .redes {
            justify-items: center;
            grid-column: span 3;
        }
    }
}