.Info_pages {
    flex-grow: 1;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: start;
}

.Cuerpo_pages {
    margin: 20px;
    flex-grow: 1;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
}

.Redes-Sociales {
    background-color: lightgreen;
    padding: 20px;
    border: 10px;
    margin: 10px;
    color: darkgreen;
}

.Redes-Sociales .grilla {
    display: grid;
    border: darkgreen 10px;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 4fr;
    justify-items: center;
    align-items: center;
    row-gap: 5px;
    column-gap: 5px;
}

.Redes-Sociales .grilla .redes {
    justify-items: center;
    grid-column: span 3;
}